apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: louisscrf/auth-service:latest
          ports:
            - containerPort: 8000

          env:
            - name: DATABASE_URL
              value: "sqlite:////data/auth.db"

          volumeMounts:
            - name: auth-storage
              mountPath: /data

          # Vérifie régulièrement si le service fonctionne
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10

          # Vérifie si le service est prêt à recevoir du trafic
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 5

      volumes:
        - name: auth-storage
          persistentVolumeClaim:
            claimName: auth-pvc
