apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: microservices
spec:
  rules:
    - host: devops.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 3000