# Base de données locale (fichier SQLite, persistance via volume /app/db)
DATABASE_URL=sqlite:////app/db/auth.db

# JWT
JWT_SECRET=change-me
JWT_ALGO=HS256
ACCESS_TOKEN_EXPIRES_MIN=60
REFRESH_TOKEN_EXPIRES_MIN=43200

# CORS
CORS_ORIGINS=http://localhost:3000
